# ===== 密码（唯一放这里的原因：不能提交到 Git） =====
# 命名约定：SZU_PASSWORD_{学号后4位}
# 如学号 2023150090 → 后4位 0090 → SZU_PASSWORD_0090
SZU_PASSWORD_0090=
# SZU_PASSWORD_0091=
SZU_PASSWORD=

# ===== 运行时环境 =====
SZU_LOG_LEVEL=info         # debug | info | warning | error
SZU_DEBUG_MODE=false
